.float-up {
  opacity: 0;
  position: relative;
  animation-name: float-up;
  animation-duration: 0.45s;
  animation-fill-mode: forwards;
}

.center_content {
  position: fixed;
  left: 50%; /*move the top left point of block to the center*/
  top: 50%;  /*move the top left point of block to the center*/
  transform: translate(-50%, -50%); /*move the center of the block to center*/
  width: 600px;
  height: 450px;
}
.center{
  position: fixed;
  left: 50%; /*move the top left point of block to the center*/
  top: 50%;  /*move the top left point of block to the center*/
  transform: translate(-50%,-50%); /*move the center of the block to center*/
}
.login_btn{
  position: fixed;
  top:20px;
}
.test{
  position: fixed;
  width: 300px;
}
.info1{
  position: fixed;
  left: 50%; /*move the top left point of block to the center*/
  top: 50%;  /*move the top left point of block to the center*/
  transform: translate(-50%, -300%);
}
.info2{
  position: fixed;
  left: 50%; /*move the top left point of block to the center*/
  top: 50%;  /*move the top left point of block to the center*/
  transform: translate(-50%, -100%);
}
.HOME{
  position: fixed;
  left: 50%; /*move the top left point of block to the center*/
  top: 1%;  /*move the top left point of block to the center*/
  transform: translate(-50%,0%); /*move the center of the block to center*/
}